<html>
    <!--
    <link rel="stylesheet" type="text/css" href="/static/style.css">
    -->
    <link rel="stylesheet" type="text/css" href="/static/navbar.css">
    <link rel="stylesheet" type="text/css" href="/static/fadein.css">
    <head>
    </head>
    <body class="">
        <div class="">
            <nav class="container main-nav ">
                <div class="nav-item nav-1 ">
                    <a href="/projects" class="navLinks ">Projects</a>
                </div>
                <div class="nav-item nav-2">
                    <a href="/services" class="navLinks">Yihong Liu</a>
                </div>
                <div class="nav-item nav-3">
                    <a href="/about" class="navLinks">About Me</a>
                </div>
            </nav>
        </div>
    </body>
</html>
