<html>
<!--
    <link rel="stylesheet" type="text/css" href="/static/style.css">
    -->
<link rel="stylesheet" type="text/css" href="/static/navbar.css">
<link rel="stylesheet" type="text/css" href="/static/fadein.css">
<link rel="stylesheet" type="text/css" href="/static/v2.css">
<link rel="stylesheet" type="text/css" href="/static/new_style.css">

<head>
</head>

<body class="ubuntu-font">
    <div class="center">
        Initiatives
    </div>
    <div class="center">
        <a class="v2-a-button" href="./DayPP/create">
            <button>Create</button>
        </a>
    </div>
    <div class="center">
        <!-- add table here -->
        {{index .StringVals "table"}}
    </div>
</body>

</html>