<html>
<!--
    <link rel="stylesheet" type="text/css" href="/static/style.css">
    -->
<link rel="stylesheet" type="text/css" href="/static/navbar.css">
<link rel="stylesheet" type="text/css" href="/static/fadein.css">
<link rel="stylesheet" type="text/css" href="/static/v2.css">
<link rel="stylesheet" type="text/css" href="/static/new_style.css">

<head>
</head>

<body class="ubuntu-font">
    <div class="center">
        {{index .StringVals "title"}}
    </div>
    <form class="center" method="POST">
        <div>
            <textarea name="comment" rows="10" cols="50"></textarea>
        </div>
        <div>
            <input type="submit">
        </div>
    </form>
    <div class="center">
        Updates
    </div>
    <div class="center">
        {{index .StringVals "comments"}}
    </div>
</body>

</html>