<html>
<!--
    <link rel="stylesheet" type="text/css" href="/static/style.css">
    -->
<link rel="stylesheet" type="text/css" href="/static/navbar.css">
<link rel="stylesheet" type="text/css" href="/static/fadein.css">
<link rel="stylesheet" type="text/css" href="/static/v2.css">
<link rel="stylesheet" type="text/css" href="/static/new_style.css">

<head>
</head>

<body class="ubuntu-font">
    <div class="center">
        Create
    </div>
    <div class="center">
        <form method="POST">
            <div class="margin-top">
                Title
            </div>
            <div class="">
                <input type="text" name="title">
            </div>
			<div>
				<input type="submit" value="Create">
			</div>
        </form>
    </div>
</body>

</html>
