<html>
    <link rel="stylesheet" type="text/css" href="/static/style.css">
    <body>
        <div class="center">
            <a href="javascript:history.back()">Back</a>
        </div>
    </body>
</html>