<html>
    <link rel="stylesheet" type="text/css" href="/static/style.css">
    <body>
        {{index .StringVals "error_msg"}}
        <div class="center">
            <a href="javascript:history.back()">Back</a>
        </div>
    </body>
</html>