<tr>
    <th scope="col">{{index .IntVals "snippet_num"}}</th>
    <td>{{index .StringVals "snippet_name"}}</td>
    <td class="center">
        <input type="text" name="{{index .IntVals "snippet_id"}}" value="">
    </td>
</tr>