<html>
    <link rel="stylesheet" type="text/css" href="/static/style.css">
    <header>
        <h1>Login</h1>
    </header>
    <body>
        <div class="center">
            <form method="POST" id="login" class="entry_form">
                <div class="row">
                    <div class="leftbox">
                        Username:
                    </div>
                    <div class="rightbox">
                        <input type="text" name="username">
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="leftbox">
                        Password:
                    </div>
                    <div class="rightbox">
                        <input type="password" name="password">
                    </div>
                </div>
                <div class="row">
                    <div class="leftbox">
                        <a href="../create_acc" id="create_acc" class="small_link">Create Account</a>
                    </div>
                    <div class="rightbox">
                        <input type="submit" value="Login" id="loginbtn" class="form_btn">
                    </div>
                </div>
                <div class="row">
                    <div class="leftbox">
                        <a href=".." id="back" class="small_link">Back</a>
                    </div>
                </div>
            </form>
            <br>
            <div class="error_msg">
                {{if .UsernameError}}
                    {{range $i, $m := .UsernameMessage}}
                        {{$m}}
                        <br>
                        <br>
                    {{end}}
                {{end}}
            </div>
        </div>
    </body>
</html>