<html>
    <!--
    <link rel="stylesheet" type="text/css" href="/static/style.css">
    -->
    <link rel="stylesheet" type="text/css" href="/static/navbar.css">
    <link rel="stylesheet" type="text/css" href="/static/fadein.css">
    <link rel="stylesheet" type="text/css" href="/static/new_style.css">
    <link rel="stylesheet" type="text/css" href="/static/slideshow.css">

    <head>
    </head>
    <body class="ubuntu-font center" id="page-0">
        <div class="title-card">
            <nav class="container main-nav ">
                <div class="nav-item nav-1 ">
                    <a href="#page-1" class="navLinks ">Projects</a>
                </div>
                <div class="nav-item nav-2">
                    <a href="/services" class="navLinks">Yihong Liu</a>
                </div>
                <div class="nav-item nav-3">
                    <a href="#about" class="navLinks">About Me</a>
                </div>
            </nav>
        </div>
        <div class="page center container grid-row" id="page-1">
            <div class="subheader row-1">
                UWFM
            </div>
            <div class="prev">
                <div class="prev-sub">
                    <button class="prev-btn" onclick="window.location.href = '#page-0';">-</button>
                </div>
            </div>
            <div class="row-2">
                <div class="text-left col-1 fade">
                    <img class="slide-show" src="static/pdu.PNG">
                    <img class="slide-show" src="static/pdu_top (2).jpg">
                    <button class="slide-show-btn" onclick="plusDivs(-1)">&#10094;</button>
                    <button class="slide-show-btn" onclick="plusDivs(1)" style="float: right;">&#10095;</button>
                </div>
                <script src="dynamic/slideshow.js">
                </script>
            </div>
            <div class="text-left col-2">
                <div class="text-box-1">
                    I am a member of the University of Waterloo Formula Motorsports team. I work with the
                    electronics sub-team to design and manufacture components for the electronics system
                    on the car.
                </div>
                <div class="text-box-2">
                    In the summer of 2019, I worked with another member of the team to design the Power Distribution Unit for the 2020
                    season. The 2019 season revealed many faults in the PDU design that we worked to correct.
                </div>
                <div class="text-box-2">
                    I was also responsible for creating 3D models for our pnuematic shift system, allowing me to gain practice with
                    SolidWorks.
                </div>
            </div>
            <div class="next2">
                <div class="next2-sub">
                    <button class="next-btn" onclick="window.location.href = '#page-2';">+</button>
                </div>
            </div>
        </div>
        <div class="page center container grid-row" id="page-2">
            <div class="subheader row-1">
                Golang Web App
            </div>
            <div class="prev">
                <div class="prev-sub">
                    <button class="prev-btn" onclick="window.location.href = '#page-1';">-</button>
                </div>
            </div>
            <div class="row-2">
            </div>
            <div class="text-left col-2">
                <div class="text-box-1">
                </div>
            </div>
            <div class="next2">
                <div class="next2-sub">
                    <button class="next-btn" onclick="window.location.href = '#page-2';">+</button>
                </div>
            </div>
        </div>
    </body>
</html>
