<html>
    <link rel="stylesheet" type="text/css" href="/static/style.css">
    <body>
        <div class="center">
            <h1>
                Yihong Liu
            </h1>
            <p>
                1B (going into 2a) Waterloo computer engineering, and talented front end designer (/s)
                <br>
                <br>
                This website is my portal for side project development, mostly in golang
                <br>
                <br>
                Current services:
                <br>
                <br>
                <a href="./snippet/">Snippet </a>is a fast resume templating service I am developing
                <br>
                <br>
                <a href="/login/">Login</a>
                ||
                <a href="/create_acc/">Create Account</a>
                <br>
                <br>
                Links:
                <a href="https://www.github.com/lyihongl" target="_blank">github</a>
                ||
                <a href="">resume</a>
            </p>
        </div>
    </body>
</html>