<html>
    <link rel="stylesheet" type="text/css" href="/static/style.css">
    <body>
        <div class="center">
            <h1>
                Yihong Liu
            </h1>
            <p>
                1B Waterloo computer engineering, and talented front end designer (/s)
                <br>
                <br>
                <a href="snippet/">Snippet </a>is a fast resume templating service I am developing
                <br>
                <br>
                Links:
                <a href="https://www.github.com/lyihongl" target="_blank">github</a>
                ||
                <a href="">resume</a>
            </p>
        </div>
    </body>
</html>