<html>
    <!--
    <link rel="stylesheet" type="text/css" href="/static/style.css">
    -->
    <link rel="stylesheet" type="text/css" href="/static/navbar.css">
    <link rel="stylesheet" type="text/css" href="/static/fadein.css">
    <link rel="stylesheet" type="text/css" href="/static/new_style.css"
    <head>
    </head>
    <body class="ubuntu-font center">
        <div class="title-card">
            <nav class="container main-nav ">
                <div class="nav-item nav-1 ">
                    <a href="#projects" class="navLinks ">Projects</a>
                </div>
                <div class="nav-item nav-2">
                    <a href="/services" class="navLinks">Yihong Liu</a>
                </div>
                <div class="nav-item nav-3">
                    <a href="#about" class="navLinks">About Me</a>
                </div>
            </nav>
        </div>
        <div class="page center container">
            <a id="projects"></a>
            <h2 class="center">Projects</h2>
        </div>
    </body>
</html>
