<html>
    <!--
    <link rel="stylesheet" type="text/css" href="/static/style.css">
    -->
    <link rel="stylesheet" type="text/css" href="/static/new_style.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <body>
        <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
            <a class="navbar-brand" href="https://yihong.ca">Home</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-autop">
                    <li class="nav-item">
                        <a class="nav-link" href="" id='login-btn'>Login</a>
                        <script type="text/javascript">
                        var loginBtn = document.getElementById('login-btn')
                        loginBtn.onclick = function() {
                            if({{.}}) {
                                alert("You are already logged in");
                            } else {
                                window.location.href = "/login";
                            }
                            return false;
                        }
                        </script>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/create_acc">Create Account</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/static/Resume-rev0.pdf">Resume</a>
                    </li>
                </ul>
            </div>
        </nav>
        <div class="center">
                <div>
                    <img src="/static/LinkedInDPSmall.png" class="face">
                </div>
            <h1>
                Yihong Liu
            </h1>

            <div class="row">
                <a href="/login" class="menubar dank">Login</a>
                <a href="/create_acc" class="menubar dank">Create Account</a>
                <a href="https://www.github.com/lyihongl" target="_blank" class="menubar dank">Github</a>
                <a href="/static/Resume.pdf" class="menubar dank" target="_blank">Resume</a>
                <a href="/services" class="menubar dank">Services</a>
            </div>

            <div class="row align-center">
                <div class="custom_box_0 cool-border">
                    1B (going into 2a) Waterloo computer engineering, and talented front end designer (/s).
                    This website is my portal for side project development, the backend is currently written in golang.
                </div>
                <div class="custom_box_0 cool-border margin-top">
                    Be sure to check out the services link to see some of my work in progress web applications
                </div>
            </div>
            <div class="row">
                <h3>
                    Cool things I've done that might not necessary make it on my resume:
                </h3>
            </div>
            <div class="row cool-border custom_box_0 center">
                PCB Schematic and Layout:
            </div>
            <div class="whole-row padding-top-5">
                <div class="leftbox">
                    <img src="/static/pdu.PNG" id="pdu-img">
                </div>
                <div class="rightbox limit-width margin-right justify-text" style="--margin: 28%; --width: 25%">
                    <p>
                        I recently joined University of Waterloo's formula motorsports team.
                        Since I was little, I've always had an interest in cars.
                        More recently, I've become more interested in motorsports,
                        so naturally, when I had the time, I joined the motorsports racing team.
                        Being in ECE, it also made sense to join the electrical sub team.
                    </p>
                        The first task I took on was an update of the PDU, or power distribution unit.
                        Me and another friend from ECE worked over 4 months to update the 2019 PDU design,
                        fixing previous design flaws, and designing the new board layout.
                    <p>
                    </p>
                </div>
            </div>
            <div class="whole-row padding-top-5">
                Test
            </div>
        </div>
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    </body>
</html>
