<html>
    <link rel="stylesheet" type="text/css" href="/static/style.css">
    <body>
        <div class="center">
                <div>
                    <img src="/static/LinkedInDP.jpg" class="face">
                </div>
            <h1>
                Yihong Liu
            </h1>

            <div class="row">
                <a href="/login" class="menubar dank">Login</a>
                <a href="/create_acc" class="menubar dank">Create Account</a>
                <a href="https://www.github.com/lyihongl" target="_blank" class="menubar dank">Github</a>
                <a href="/static/Resume.pdf" class="menubar dank" target="_blank">Resume</a>
                <a href="/services" class="menubar dank">Services</a>
            </div>

            <div class="row align-center">
                <div class="custom_box_0 cool-border">
                    1B (going into 2a) Waterloo computer engineering, and talented front end designer (/s).
                    This website is my portal for side project development, the backend is currently written in golang.
                </div>
                <div class="custom_box_0 cool-border margin-top">
                    Be sure to check out the services link to see some of my work in progress web applications
                </div>
            </div>
            <div class="row">
                <h3>
                    Cool things I've done that might not necessary make it on my resume:
                </h3>
            </div>
            <div class="row cool-border custom_box_0 center">
                PCB Schematic and Layout:
            </div>
            <div class="whole-row padding-top-5">
                <div class="leftbox">
                    <img src="/static/pdu.PNG" id="pdu-img">
                </div>
                <div class="rightbox limit-width margin-right justify-text" style="--margin: 28%; --width: 25%">
                    <p>
                        I recently joined University of Waterloo's formula motorsports team.
                        Since I was little, I've always had an interest in cars.
                        More recently, I've become more interested in motorsports,
                        so naturally, when I had the time, I joined the motorsports racing team.
                        Being in ECE, it also made sense to join the electrical sub team.
                    </p>
                        The first task I took on was an update of the PDU, or power distribution unit.
                        Me and another friend from ECE worked over 4 months to update the 2019 PDU design,
                        fixing previous design flaws, and designing the new board layout.
                    <p>
                    </p>
                </div>
            </div>
            <div class="whole-row padding-top-5">
                Test
            </div>
        </div>
    </body>
</html>
