<html>
    <!--
    <link rel="stylesheet" type="text/css" href="/static/style.css">
    -->
    <link rel="stylesheet" type="text/css" href="/static/navbar.css">
    <link rel="stylesheet" type="text/css" href="/static/new_style.css">
    <head>
    </head>
    <body class="ubuntu-font">
        <div class="center container grid-row">
            <div class="item">
                <div class="subitem">
                    <h1>Projects</h1>
                </div>
                <div class="subitem">
                    <div class="text-left left-margin-sm">
                        test
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
