<html>
    <link rel="stylesheet" type="text/css" href="/static/style.css">
    <body>
        <div class="left">
            <p>
                <h2>
                    What is snippet?
                </h2>
                <br>
                Lets say you have worked some electrical engineering jobs, and some software jobs. 
                <br>
                <br>
                Thus you have a resume for eletrical engineering, and a software resume.
                <br>
                <br>
                Now you are applying to a job that requires both electrical and software skills, and you need an updated resume.
                <br>
                <br>
                Instead of digging through previous resumes and hacking them together,
                <br>
                <br>
                you can upload each individual experience you've had to Snippets (tm)
                <br>
                <br>
                and select the desired experiences to export onto a resume.
                <br>
                <br>
                <a href="./login/">Login</a>
                ||
                <a href="./create_acc/">Create Account</a>
                ||
                <a href="..">Back</a>
            </p>
        </div>
    </body>
</html>