<html>
    <link rel="stylesheet" type="text/css" href="/static/style.css">
    <body>
        <div class="center">
            <h2>
                What is Snippet?
            </h2>
            <div class="row align-center">
                <div class="custom_box_0 cool-border">
                    You are applying to jobs, and you have an electrical engineering, and a software engineering
                    resume. You want to get into some hardware type things, now you have to go through your old resumes
                    and hack together some experiences from each resume.
                </div>
                <div class="custom_box_0 cool-border margin-top">
                    Now with snippet, instead of spending time digging through old resumes,
                    upload each individual experience to snippet, and easily export the resume
                    you want.
                </div>
            </div>
        </div>
    </body>
</html>