<html>
    <link rel="stylesheet" type="text/css" href="/static/style.css">
    <header>
        <h1>Login</h1>
    </header>
    <body>
        <div class="center">
            <form method="POSt" id="login" class="entry_form">
                <div class="leftbox">
                    Username:
                    <br>
                    Password:
                    <br>
                    <a href="../create_acc/" id="create_acc" class="small_link">Create Account</a>
                    <br>
                    <a href=".." id="back" class="small_link">Back</a>
                </div>
                <div class="rightbox">
                    <input type="text" name="username">
                    <br>
                    <input type="password" name="password">
                    <br>
                    <input type="submit" value="Login" id="loginbtn" class="form_btn">
                </div>

            </form>
        </div>
    </body>
</html>