<html>
    <link rel="stylesheet" type="text/css" href="/static/new_style.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script
  src="https://code.jquery.com/jquery-3.4.1.js"
  integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
  crossorigin="anonymous"></script>
    <body>
        {{index .StringVals "nav_bar"}}
        <div class="container">
            <form id="new_snippet_form" method="POST">
                <div class="row">
                    <a href="/services/snippet/home">Snippet Home</a>
                </div>
                <div class="row">
                    <div class="col center">
                        <div class="row margin-top text-center">
                            Name:
                        </div>
                        <div class="row margin-top-sm">
                            <input size="60" type="text" name="snippet_name" class="" value="{{index .StringVals "snippet_name"}}">
                        </div>
                        <div class="row margin-top-sm">
                            Snippet:
                        </div>
                        <div class="row margin-top-sm">
                            <textarea name="snippet_data" class="noresize"rows="20" cols="63" form="new_snippet_form">{{index .StringVals "snippet_data"}}</textarea>
                        </div>
                    </div>
                    <div class="col">
                        <div class="row margin-top">
                            Preview:
                        </div>
                        <div class="row margin-top-sm">
                            <iframe id="preview_frame" src=></iframe>
                        </div>
                            {{index .StringVals "preview_script"}}
                    </div>
                </div>
                <div class="row center margin-top">
                    <button type="submit" class="auto-margin btn btn-primary fix-btn-width">Save</button>
                </div>
            </form>
        </div>
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    </body>
</html> 