<html>
    <link rel="stylesheet" type="text/css" href="/static/new_style.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <script
  src="https://code.jquery.com/jquery-3.4.1.js"
  integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
  crossorigin="anonymous"></script>  
  <script type="text/javascript" src="/dynamic/httpMethods.js"></script>
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="/dynamic/create_user.js"></script>
    <body>
        <div class="container">
            {{index .StringVals "nav_bar"}}
        </div>
        <div class="container center">
            <div class="row margin-top auto-margin center">
                <div class="col">
                    <a class="btn btn-primary fix-btn-width" href="create" role="button">Add New Snippet</a>
                </div>
            </div>
            <div class="row margin-top">
                <div class="col">
                    <a class="btn btn-primary fix-btn-width" href="export" role="button">Export Resume</a>
                </div>
            </div>
            <div class="row margin-top">
                <div class="col">
                    <h4>
                        Current snippets:
                    </h4>
                    <div class="row">
                        <div class="table-wrapper-scroll-y my-custom-scrollbar">
                            <table class="table table-striped table-bordered">
                                <thead>
                                    <tr>
                                        <th scope="col">#</th>
                                        <th style="width: 75%;" scope="col" class="center">Name</th>
                                        <th scope="col"></th>
                                    </tr>
                                </thead>
                                <tbod>
                                    {{index .StringVals "table"}}
                                </tbod>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>