body{
    font: normal 16px Trebuchet MS;
}

a{
    text-decoration: none;
}
header{
    text-align: center;
}
.error_msg{
    color: red;
}
.center{
    text-align: center;
}
.left{
    text-align:left;
    margin-left:10vw;
    margin-top:10vh;
}
.entry_form{
    display: inline-block;
}
.row{
    margin-top:2%;
}

.leftbox{
    float: left;
    text-align: left;
    padding-right: 0.5vw;
}

.rightbox{
    float: right;
    text-align: left;
    width: 52%;
}

.form_btn{
    width:100%;
}
a:visited{
  color:blue;
}

.small_link{
    font: normal 12px Trebuchet MS;
}