a{
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
}

body{
    padding-top: 60px;
}

.static{
    position: fixed;
}

.custom-box-0 {
    text-align: justify;
    max-width: 500px;
    margin-left:auto;
    margin-right:auto;
}

.justify-text{
    text-align: justify;
}

.text-right{
    text-align: right;
}

.auto-margin{
    margin-left:auto;
    margin-right:auto;
}

.custom-row {
    margin-top:0.5vh;
    margin-bottom:0.5vh;
}

.margin-top {
    margin-top: 5vh;
}

.constrain-width {
    max-width: 500px;
}

.center {
    text-align: center;
}

.shadow-hover:hover {
    border-radius: 2%;
    box-shadow: 0 0 20px rgba(33,33,33,.5); 
}

#services-link{
    color: rgb(39, 92, 170);
}

#services-link:hover{
    color: rgb(0, 174, 255);
}

.A4{
    size: 21cm 29.7cm;
}

#resume_frame{
    width: 8.5in;
    height: 11in;
}

.fix-btn-width{
    width: 40vw;
}


.my-custom-scrollbar {
    position: relative;
    height: 50vh;
    overflow: auto;
    width: 80vw;
}

.align-right {
    text-align: right;
}