@import url('https://fonts.googleapis.com/css?family=Ubuntu');

html{
    scroll-behavior: smooth;
}

a{
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
}

body{
    padding-top: 60px;
}

.container{
    display: grid;
    width:100%;
}

.grid-row{
    grid-template-rows: repeat(4, 80%);
}

.item{
    display: grid;
    grid-row: 2/4;
    grid-template-columns: subgrid;
}

.ubuntu-font{
  font-family: 'Ubuntu', sans-serif;
  font-size: 1.2em;
  text-transform: uppercase;
  text-decoration: none;
  color: black;
}

.no-row-margin-lr{
    margin-left:0px!important;
    margin-right:0px!important;
}

.static{
    position: fixed;
}

.custom-box-0 {
    text-align: justify;
    max-width: 500px;
    margin-left:auto;
    margin-right:auto;
}

.blue-border{
    border: 1px solid blue;
    padding: 10px;
}

.justify-text{
    text-align: justify;
}

.text-right{
    text-align: right;
}

.text-left{
    text-align: left;
}

.left-margin-sm{
    margin-left: 10vw;
}

.auto-margin{
    margin-left:auto;
    margin-right:auto;
}

.custom-row {
    margin-top:0.5vh;
    margin-bottom:0.5vh;
}

.margin-top {
    margin-top: 5vh;
}

.margin-top-sm {
    margin-top: 2vh;
}

.constrain-width {
    max-width: 500px;
}

.center {
    text-align: center;
}

.shadow-hover:hover {
    border-radius: 2%;
    box-shadow: 0 0 20px rgba(33,33,33,.5); 
}

#services-link{
    color: rgb(39, 92, 170);
}

#services-link:hover{
    color: rgb(0, 174, 255);
}

.A4{
    size: 21cm 29.7cm;
}

#resume_frame{
    width: 8.5in;
    height: 11in;
}

#preview_frame{
    width: 7in;
    height: 5.9in;
    position: absolute;;
    overflow: auto;
}

.fix-btn-width{
    width: 40vw;
}
.my-custom-scrollbar {
    position: relative;
    height: 50vh;
    overflow: auto;
    width: 80vw;
}

.align-right {
    text-align: right;
}

.margin-right-table-links{
    margin-right:3%;
}

.width-80-p {
    width:80%;
}

textarea {
    resize: none !important;
}

.no-right-padding{
    padding-right: 0px;
}

.center-vert{
    align-items: center;
}

.checkbox{
    margin-right:0.1vw;
}

.title-card{
    margin-bottom: 50vh;
}

.page{
    margin-top: 5vh;
}