body{
    font: normal 16px Trebuchet MS;
}

textarea{
    resize: none;
}

.menubar {
    padding-left: 1%;
}

.margin-top{
    margin-top: 1%;
}

.margin-right{
    margin-right: var(--margin);
}

.big-top-space{
    margin-top: 4%;
}

.face {
    object-fit: cover;
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

.custom_box_0 {
    text-align: justify;
    max-width: 500px;
    margin-left:auto;
    margin-right:auto;
}

a{
    text-decoration: none;
}
header{
    text-align: center;
}
.error_msg{
    color: red;
}
.center{
    text-align: center;
}
.left{
    text-align:left;
    margin-left:10vw;
    margin-top:10vh;
}
.right{
    text-align:right;
}

.align-right{
    float:right;
}

.align-center{
    margin:auto;
    width: 50%;
}

.green-border{
    border: 1px solid green;
    padding: 10px;
}

.blue-border{
    border: 1px solid blue;
    padding: 10px;
}

.cool-border{
    border: 1px solid #7ed7f7;
    padding: 10px;
}

.entry_form{
    display: inline-block;
}
.row{
    margin-top:0.5vh;
    margin-bottom:0.5vh;
}

.leftbox{
    float: left;
    text-align: left;
    padding-right: 0.5vw;
    max-width:45%;
}

.rightbox{
    float: right;
    text-align: left;
    width: 52%;
}

.form_btn{
    width:100%;
}
a:visited{
  color:blue;
}

.small_link{
    font: normal 12px Trebuchet MS;
}

a.button{
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;

    text-decoration: none;
    color: initial;
    padding: 2px 6px 2px 6px;
    border-top: 1px solid #CCCCCC;
    border-right: 1px solid #333333;
    border-bottom: 1px solid #333333;
    border-left: 1px solid #CCCCCC;
}

.tooltip {
  position: relative;
  display: inline-block;
}

/* Tooltip text */
.tooltip .tooltiptext {
  visibility: hidden;
  width: 200px;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
  top: -5px;
  left: 105%;
 
  /* Position the tooltip text - see examples below! */
  position: absolute;
  z-index: 1;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

.dank:active {
    position: relative;
    top: 2px;
}

#pdu-img{
    max-width: 50%;
    max-height: auto;
    margin-left: 40%;
}

.padding-top-5{
    padding-top:3%;
}

.limit-width{
    max-width: var(--width);
}

.justify-text{
    text-align:justify;
}

.whole-row{
    width: 100%;
    height: auto;
    overflow: hidden;
}